/* Custom properties */
:root {
  --bg-theme-color: black;
  --text-theme-color: white;
  --movie-poster-width: 250px;
  --gradient-mask: linear-gradient(rgba(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  /* in px */
  --side-padding-main: 10;
}

/* Resets */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General Stylings */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-theme-color);
  background-color: var(--bg-theme-color);
  min-width: 400px;
  margin: 1em auto;
  position: relative;
}

main {
  padding: 20px calc(var(--side-padding-main) * 1px);
}

img {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h2,
h3,
h4 {
  font-family: 'Alatsi', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p {
  line-height: 1.4;
}

footer {
  padding: 1em 1.25em;
  border-top: 1px dotted #aeaeae;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -1.25em;
}

footer p {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  font-size: x-small;
  display: block;
  width: 100%;
}

/* Nav bar */
header {
  background-color: #ffbe98;
  padding: 1em 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
  border-radius: 0.5rem 0.5rem 0 0;
}

header h1 {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}

header .user {
  text-align: right;
}

ul {
  list-style: none;
  line-height: 1.3;
}

/* Crosss-Page Component Stylings */
.movie-thumbnail {
  display: inline-block;
  position: relative;

  /* img {
    max-width: var(--movie-poster-width) !important;
  } */
}

.thumbnail-btns {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.outline-heart {
  box-sizing: border-box;
  margin: 0.5rem 0.5rem 0.3rem auto;
  right: 0;
  font-size: 30px;
  color: white;
}

.solid-heart {
  box-sizing: border-box;
  margin: 0.5rem 0.5rem 0.3rem auto;
  right: 0;
  font-size: 30px;
  color: red;
}

.outline-clock {
  box-sizing: border-box;
  margin: 0.3rem 0.5rem 0.5rem auto;
  right: 0;
  font-size: 30px;
  color: white;
}

.solid-clock {
  box-sizing: border-box;
  margin: 0.3rem 0.5rem 0.5rem auto;
  right: 0;
  font-size: 30px;
  color: rgb(255, 140, 0);
}

.heart:hover,
.clock:hover {
  font-size: 3.5vw;
  max-width: 40px;
  max-height: 40px;
}

.outline-heart:hover,
.outline-clock:hover {
  color: rgb(64, 224, 208);
}

/* Home Page Styling */

/* Movie Carousel */
.movie-slide {
  position: relative;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-info {
  z-index: 1;
  margin-bottom: 100px;
  width: 50%;
}

.movie-info h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.watch-trailer-btn-carousel,
.more-info-btn-carousel {
  all: unset;
  background-color: rgb(255, 140, 0);
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.watch-trailer-btn-carousel:hover,
.more-info-btn-carousel:hover {
  background-color: rgb(73, 0, 138);
}

.movie-overlay .circle-play-icon {
  margin-right: 10px;
}

.movie-overlay .outline-heart,
.movie-overlay .outline-clock {
  margin: 0;
}

.watch-trailer-btn,
.view-details-btn,
.fav-btn,
.watchlist-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #e50914; /* Netflix red */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.watch-trailer-btn:hover,
.view-details-btn:hover,
.fav-btn:hover,
.watchlist-btn:hover {
  background-color: #bf0813; /* Darker shade of Netflix red on hover */
}

.button-icon {
  margin-right: 5px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--movie-poster-width));
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 10px;

  img {
    width: var(--movie-poster-width);
  }
}

.responsive-movies-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--movie-poster-width), 1fr)
  );
  gap: 20px;
  justify-content: space-evenly;
  margin-bottom: 10px;

  img {
    min-width: var(--movie-poster-width);
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
}

.watch-trailer-btn {
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  margin: auto;
  background-color: var(--bg-theme-color);
  color: #007fff;

  .circle-play-icon {
    padding-right: 5px;
  }

  &:hover {
    font-weight: 800;
  }
}

.movie-modal {
  position: relative;
  min-width: 80vw;

  .modal-body {
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background-color: var(--bg-theme-color);
  }

  .modal-close-btn {
    position: absolute;
    z-index: 10;
    top: -2%;
    right: -2%;
    background-color: grey;
    border: none;
  }

  iframe {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

/* Detail Page Styling */
.banner-container {
  position: relative;
  width: 100%;
  height: 200px;

  .banner {
    /* width: 100vw; */
    transform: translateX(calc(var(--side-padding-main) * -1px));
    aspect-ratio: 16 / 9;
    --webkit-mask-image: var(--gradient-mask);
    --moz-mask-image: var(--gradient-mask);
    --ms-mask-image: var(--gradient-mask);
    mask-image: var(--gradient-mask);
  }

  .circle-play-icon {
    position: absolute;
    /* left, right and their margin work together to center pos:abs elements */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    font-size: 50px;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      color: #007fff;
    }
  }
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;

  button {
    position: absolute;
    top: 0%;
    background-color: grey;
    color: white;
    border: none;
  }
}

.banner-section {
  box-sizing: border-box;
  width: 100%;
  /* set container height to a fraction of actual height so image overflow downwards and act as a
  gradient background (important: height must be in physical units like px or vw and not %) */
  height: 25vw;
  aspect-ratio: 16/9;
  transition: all 1s ease;
}
.banner-section.play-trailer {
  /* calculated by 100vw * 9 / 16 = 56vw */
  height: 56vw;
}

.detail-page-trailer {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.movie-detail-panel {
  display: flex;
  gap: 20px;
}

.movie-detail-panel .movie {
  width: 800px;
  margin-bottom: 20px;
}
