.main-nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  transition: all 0.25s;
  z-index: 100;
}

.main-nav img {
  width: 91px;
}


.main-nav.active {
  background: rgb(37, 47, 53);
  padding-block: 20px;

}

.nav-container {
  padding-inline: 15px;
}

.main-nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-open-btn,
.menu-close-btn {
  color: white;
  font-size: 40px;
  background: transparent;
  border: none;
}

.navbar {
  position: fixed;
  top: 0;
  right: -786px;
  background: rgb(37, 47, 53);
  width: 100%;
  /* max-width: 500px; */
  height: 100%;
  box-shadow: -1px 0 3px hsl(0, 0%, 0%, 0.2);
  transition: 0.15s ease-in;
  visibility: hidden;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  transition: 0.25s ease-out;
  display: block;
}

.navbar-top {
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  border-top:  1px solid hsla(0, 0%, 100%, 0.1);
  margin-bottom: 30px;
  padding-left: unset;
  gap: 4rem;
}

.navbar-link {
  color: white;
  font-size: large;
  padding: 10px 25px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  width: 100%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

/* .navbar-list .watch-later-link {
  padding-right: 0;
} */

.navbar-link:is(:hover, :focus) { color:#007fff}

.overlay {
  position: fixed;
  inset: 0;
  background:  hsla(204, 18%, 11%, 0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: 0.5ms;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Search Bar  */


.search-icon {
  color: white;
  background: transparent;
  padding: 5px;
}
.search-container {
  height: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
}

.search-bar {
  height: 30px;
  display: flex;
  cursor: pointer;
  background: transparent;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  
}

.search-bar:hover input, 
.search-bar input:focus {
  width: 150px;
  border: 1px solid white;
}

.search-bar input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
  color: white;
}

@media (min-width: 786px) {

  .main-nav .nav-container {
    display: flex;
  justify-content: space-between;
  }

  .navbar.active {
    padding-block: 5px;
  }

  .menu-open-btn,
  .navbar-top,
  .overlay {
    display: none;
  }

  .navbar {
    width: 100%;
    all: unset;
    display: flex;
    margin-inline: auto;
  }

  .navbar-list {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .8rem;
    list-style-type: none;
    padding-left: unset;
  }
  
  .navbar-link {
    border-bottom: none;
    text-transform: uppercase;
    padding: 10px 10px;
    font-weight: 525;
    font-size: 1.2rem;
  }


}

@media (min-width: 1024px) {
  .navbar-list {
    gap: 4rem;
  }

  .navbar-link {
    border-bottom: none;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 525;
    font-size: 1.4rem;
  }

  .main-nav {
    padding-right: 20px;
  }
}